

<div>
    <h2> {{ componentName }}</h2>

    <p>
        This article is about the academic discipline. For a general history of human beings, see Human history. For a general history of Earth, see History of Earth. For other uses, see History (disambiguation).
Part of a series on
History

Study of the past
IndexOutlineGlossary
Key concepts
Periods
By region
Notable historians
Timelines
 History portal Category
vte
History (derived from Ancient Greek ἱστορία (historía) 'inquiry; knowledge acquired by investigation')[1] is the systematic study and documentation of the human past.[2][3] History is an academic discipline which uses a narrative to describe, examine, question, and analyse past events, and investigate their patterns of cause and effect.[4][5] Historians debate which narrative best explains an event, as well as the significance of different causes and effects. Historians debate the nature of history as an end in itself, and its usefulness in giving perspective on the problems of the present.[4][6][7][8]

The period of events before the invention of writing systems is considered prehistory.[9] "History" is an umbrella term comprising past events as well as the memory, discovery, collection, organization, presentation, and interpretation of these events. Historians seek knowledge of the past using historical sources such as written documents, oral accounts or traditional oral histories, art and material artifacts, and ecological markers.[10]

Stories common to a particular culture, but not supported by external sources (such as the tales surrounding King Arthur), are usually classified as cultural heritage or legends.[11][12] History differs from myth in that it is supported by verifiable evidence. However, ancient cultural influences have helped create variant interpretations of the nature of history, which have evolved over the centuries and continue to change today. The modern study of history is wide-ranging, and includes the study of specific regions and certain topical or thematic elements of historical investigation. History is taught as a part of primary and secondary education, and the academic study of history is a major discipline in universities.

Herodotus, a 5th-century BCE Greek historian, is often considered the "father of history", as one of the first historians in the Western tradition,[13] though he has been criticized as the "father of lies".[14][15] Along with his contemporary Thucydides, he helped form the foundations for the modern study of past events and societies.[16] Their works continue to be read today, and the gap between the culture-focused Herodotus and the military-focused Thucydides remains a point of contention or approach in modern historical writing. In East Asia a state chronicle, the Spring and Autumn Annals, was reputed to date from as early as 722 BCE, though only 2nd-century BCE texts have survived. The title "father of history" has also been attributed, in their respective societies, to Sima Qian, Ibn Khaldun, and Kenneth Dike.[17][18][19]

Definition
As an academic discipline, history is the study of the past.[20] It conceptualizes and describes what happened by collecting and analysing evidence to construct narratives. These narratives cover not only how events unfolded but also why they happened and in which contexts, providing an explanation of relevant background conditions and causal mechanisms. History further examines the meaning of historical events and the underlying human motives driving them.[21]

In a slightly different sense, history refers to the past events themselves. In this sense, history is what happened rather than the academic field studying what happened. When used as a countable noun, a history is a representation of the past in the form of a history text. History texts are cultural products involving active interpretation and reconstruction. The narratives presented in them can change as historians discover new evidence or reinterpret already-known sources. The nature of the past itself, by contrast, is static and unchangeable.[22] Some historians focus on the interpretative and explanatory aspects to distinguish histories from chronicles, arguing that chronicles only catalog events in chronological order, whereas histories aim at a comprehensive understanding of their causes, contexts, and consequences.[23][a]

Traditionally, history was primarily concerned with written documents. It focused on recorded history since the invention of writing, leaving prehistory[b] to other fields, such as archeology.[26] Today, history has a broader scope that includes prehistory, starting with the earliest human origins several million years ago.[27][c]
    </p>
</div>