

<h3> Detaild View : {{selectedProduct}}</h3>

<div>
    <h4> {{ _productManagementSer.detailedProduct.title }} </h4>    
    <h4> {{ _productManagementSer.detailedProduct.price }} </h4>    
    <h4> {{ _productManagementSer.detailedProduct.category }} </h4>    
    <h4> {{ _productManagementSer.detailedProduct.rating.rate }} </h4>    
    <h4> {{ _productManagementSer.detailedProduct.rating.count }} </h4>    
    <h6> {{ _productManagementSer.detailedProduct.description }} </h6>
    <img src="{{_productManagementSer.detailedProduct.image}}"/>
</div>